
<section class= "signup_wrapper">
  <h1 class="from_title">Create profile</h1>

  <form action="/create_profile" method="post">
    <input name="name" placeholder="name" type="text">
    <input name="image_url" placeholder="image url" type="text">
    <input name="occupation" placeholder="occupation" type="text">
    <input name="interests" placeholder="interests" type="text">
    <input name="idea_of_a_good_time" type="text" placeholder="idea of a good time">
    <input name="looking_for_in_a_partner" type="text" placeholder="looking for in a partner">
    <button class="submit">submit</button>
  </form>

</section>
