
<div class="index">
    <h1 class="logo relation"><span class="celeb">Celeb </span>relation</h1>
    <h2 class="subheading">test <br> B-grade celebrity dating app <br> for women </h2>

    <a class="login" href="/sign_up">signup</a>
    <a class="login" href="/login">login</a>
</div>

<p class="heart">&#9829;</p>
<p class="slogan">These hunks will give you a reason to celebrelate!</p>
