
<div class="index">
    <h1 class="logo elder">Elder<span class="flower">Flower</span></h1>
    <h2 class="subheading">A dating app<br> for the over 70s<br>

    <a class="login" href="/sign_up">signup</a>
    <a class="login" href="/login">login</a>
</div>

<p class="heart">&#9829;</p>
<p class="slogan">It's never too late for romance to blossom</p>
