<h1 class="sign_log">login</h1>

<form action="/login" method="post">
  <input name="email" placeholder="email" type="text">
  <input name="password" type="password" placeholder="password">
  <button class="submit">login</button>
</form>

<div class="redirect">
  <label for="">Not yet a member?</label>
  <a class="small" href="/sign_up">sign up</a>
</div>