<h1 class="sign_log">Sign Up</h1>

<form action="/sign_up" method="post">
  <input name="email" type="text" placeholder="email">
  <input name="password" type="password" placeholder="create a password">
  <button class="submit">sign up</button>
</form>

<div class="redirect">
  <label for="">Already a member?</label>
  <a class="small" href="/login">login</a>
</div>