body {
    background: rgb(222,221,250);
    background: radial-gradient(circle, rgba(222,221,250,1) 0%, rgba(255,255,255,1) 100%);
    font-family: 'Niconne', cursive;
}

.pic {
    width:  250px;
    height: 250px;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    -moz-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
}

.info_div {
    text-align: left;
    padding-left: 10%;
    background-color:#fff0f5;
    font-family: 'Caveat', cursive;
}

.title {
    text-align: center;
    font-family: 'Niconne', cursive;
}

.update_delete {
    text-align: center;
}

.logged_in {
    text-align: center;
    margin: 2px;
}

.wrapper {
    border: solid 4px rgb(255, 226, 251);
    min-height: 550px;
}

.profile_wrapper {
    border: solid 4px rgb(255, 226, 251);
    display: inline-block;
    margin-bottom: 5%;
    min-width: 350px;
    background: rgb(218,184,243);
    background: radial-gradient(circle, rgba(218,184,243,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    -moz-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
}

.profile_container {
    text-align: center;
}

.delete {
    margin: 1rem;
}

.logout {
    margin: 0;
}

.in {
    margin: 0;
}

p {
    font-size: 100%;
}

.update {
    font-size: 80%;
}

.signup_wrapper {
    text-align: center;
}

form {
    margin: 20px auto;
    width: 320px;
    text-align: center;
}

input {
    padding: 10px;
    font-size: inherit;
}

.form_title {
    text-align: center;
}
.submit {
    display: block;
    margin: 8% auto;
}

span {
    font-family: 'Niconne', cursive;
    color: grey;
}

link {
    font-family: 'Niconne', cursive;
}

.logo {
    font-size: 300%;
    text-align: center;
}

.celeb {
    color: #ce0f3d;
}

.subheading {
    color: black;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.885286783042394) 40%, rgba(234,122,215,0.7007481296758105) 79%);
    font-family: 'Caveat', cursive;
    -webkit-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    -moz-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    text-align: center;
}

.login {
    margin: 1rem;
    font-size: 200%;
    text-decoration: none;
    text-align: center;
}

.love_search {
    display: block;
    text-align: center;
    margin: 1rem;
    font-size: 200%;
    text-decoration: none;
    color: #ce0f3d;
}

.index {
    text-align: center;
}

.small {
    text-decoration: none;
}

button {
    background-color: #fff0f5;
    color: black;
    border: 0.5px solid rgb(86, 29, 140); 
  }

  button:hover {color: #ce0f3d;}

  a:hover {color: rgb(223, 55, 214);}

 .heart {
     text-align: center;
     font-size: 200%;
     color: #ce0f3d;
 }

 .slogan {
     text-align: center;
 }
  
.redirect {
    text-align: center;
}

.own_pic {
    /* width:  50%;
    height: 250px; */
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250px;
    max-height: 300px;
    -webkit-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    -moz-box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
    box-shadow: 32px 26px 37px -30px rgba(0,0,0,0.46);
}